[submodule "crud-engine-jpa"]
	path = crud-engine-jpa
	url = https://github.com/7-3-N-3-7/crud-engine-jpa.git
[submodule "crud-engine-core"]
	path = crud-engine-core
	url = https://github.com/7-3-N-3-7/crud-engine-core.git
[submodule "crud-engine-webflux"]
	path = crud-engine-webflux
	url = https://github.com/7-3-N-3-7/crud-engine-webflux.git
[submodule "crud-engine-spring-boot-starter"]
	path = crud-engine-spring-boot-starter
	url = https://github.com/7-3-N-3-7/crud-engine-spring-boot-starter.git
[submodule "crud-engine-inmemory"]
	path = crud-engine-inmemory
	url = https://github.com/7-3-N-3-7/crud-engine-inmemory.git
[submodule "crud-engine-plugin-ratelimiter"]
	path = crud-engine-plugin-ratelimiter
	url = https://github.com/7-3-N-3-7/crud-engine-plugin-ratelimiter.git
[submodule "crud-engine-plugin-auditlog"]
	path = crud-engine-plugin-auditlog
	url = https://github.com/7-3-N-3-7/crud-engine-plugin-auditlog.git
[submodule "crud-engine-weaviate"]
	path = crud-engine-weaviate
	url = https://github.com/7-3-N-3-7/crud-engine-weaviate.git
[submodule "crud-engine-security-keycloak"]
	path = crud-engine-security-keycloak
	url = https://github.com/7-3-N-3-7/crud-engine-security-keycloak.git
[submodule "crud-frontend"]
	path = crud-frontend
	url = https://github.com/7-3-N-3-7/crud-frontend.git
